//
//  APIKeys.xcconfig
//  CoWorkMobileApp
//
//  Created by Qadriyyah Thomas on 8/22/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = KZeMZbxJ_GU-GtyZ_AppdK82oo6k5K5hyTP5pEs4XYoP7YuZS_8N8XYlLLFq_KzXe-QYrCO9l-Fub3RkuOb0InM-Bm1259Wqc3BLpZfa5awdSFJ4Hfu0XnJd5wnXYnYx
